@keyframes respondToSmall {
  0% {
    background-image: url('./img/screen-big.png');
  }

  16.11% {
    background-image: url('./img/screen-big.png');
  }

  48.33% {
    transform: scale(.7);
    background-image: url('./img/screen-med.png');
  }

  64.44% {
    transform: scale(.7);
    background-image: url('./img/screen-med.png');
  }

  80.55% {
    transform: scale(.5) rotate(90deg);
  }

  100% {
    background-image: url('./img/screen-small.png');
    transform: scale(.5) rotate(90deg);
  }
}

@keyframes pokeEvolucion {
  0% {
    background-image: url('./img/bulbasaur-1.png');
    
  }

  16% {
    transform: scale(1.3);
  }

  50% {
    transform: scale(1.3);
    background-image: url('./img/bulbasaur-2.png');
  }

  60% {
    transform: scale(1.3);
    background-image: url('./img/bulbasaur-2.png');
  }

  80% {
    transform: scale(1.5);
    background-image: url('./img/bulbasaur-3.png');
  }

  100% {
    transform: scale(1.5);
    background-image: url('./img/bulbasaur-3.png');
  }
}

@keyframes rock {
  0% {
    background-image: url('./img/piedra.png');
    //transform: translateY(-1rem);
  }

  10% {
    background-image: url('./img/piedra.png');
    transform: translateY(1rem);
  }

  20% {
    background-image: url('./img/piedra.png');
    transform: translateY(-1rem);
  }

  30% {
    background-image: url('./img/piedra.png');
    transform: translateY(1rem);
  }

  40% {
    background-image: url('./img/piedra.png');
    transform: translateY(-1rem);
  }

  50% {
    background-image: url('./img/piedra.png');
    transform: translateY(1rem);
  }

  60% {
    background-image: url('./img/piedra.png');
    transform: translateY(-1rem);
  }

  70% {
    background-image: url('./img/piedra.png');
    transform: translateY(1rem);
  }

  80% {
    background-image: url('./img/piedra.png');
    transform: translateY(-1rem);
  }

  90% {
    background-image: url('./img/tijera.png');
    transform: translateY(1rem);
  }

  100% {
    background-image: url('./img/tijera.png');
    transform: translateY(1rem) translateX(1.5rem) scale(1.2);
  }
}