@keyframes respondToSmall {
  0% {
    background-image: url('./img/screen-big.png');
  }

  16.11% {
    background-image: url('./img/screen-big.png');
  }

  48.33% {
    transform: scale(.7);
    background-image: url('./img/screen-med.png');
  }

  64.44% {
    transform: scale(.7);
    background-image: url('./img/screen-med.png');
  }

  80.55% {
    transform: scale(.5) rotate(90deg);
  }

  100% {
    background-image: url('./img/screen-small.png');
    transform: scale(.5) rotate(90deg);
  }
}
