.encabezado {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  padding-left: 1rem;
  position: relative;

  &__nombre {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: .2rem;
  }

  &__developer {
    font-size: 1.3rem;
    letter-spacing: .1rem;
    font-weight: 100;
    margin-bottom: 2rem;
  }

  &__fijo {
    position: fixed;
    top: 3rem;
    right: 20rem;
  }

  &__mail {
    font-size: 1.1rem;
  }

  &__git:link,
  &__git:visited {
    text-decoration: none;
    color: $color-texto-primario;
  }

  &__git {
    font-size: 1.1rem;
    display: inline-block;

    &--logo {
      width: .8rem;
    }

    &:hover > &--logo {
      transform: scale(1.15);
    }
  }

  &__mas {
    display: inline-block;
    text-shadow: .05rem .05rem rgba(0,0,0,.3);
    height: .8rem;
    width: 1rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 900;
  }

  &__mas:link,
  &__mas:visited {
    color: $color-amarillo;

    &:hover {
      transform: scale(1.1) translateY(-.05rem);
      text-shadow: .07rem .07rem rgba(0,0,0,.3);
    }

    &:active {
      transform: scale(1.05) translateY(-.02rem);
      text-shadow: .06rem .06rem rgba(0,0,0,.3);
    }
  }


}