.encabezado {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3;
  padding-left: 1rem;

  &__nombre {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: .2rem;
  }

  &__developer {
    font-size: 1.3rem;
    letter-spacing: .1rem;
    font-weight: 100;
    margin-bottom: 2rem;
  }

  &__mail {
    font-size: 1.1rem;
  }

  &__git:link,
  &__git:visited {
    text-decoration: none;
    color: $color-texto-primario;
  }

  &__git {
    font-size: 1.1rem;
    display: inline-block;

    &--logo {
      width: .8rem;
    }

    &:hover > &--logo {
      transform: scale(1.15);
    }
  }

  &__mas:link,
  &__mas:visited {
    display: block;
    width: 1rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 900;
    color: $color-amarillo;
  }
}