.proyectos {
  display: grid;
  width: 70%;
  height: 20rem;
  margin: 10rem auto;
  border-radius: 6px;
  color: $color-texto-primario;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  transition: all .2s;

  &__imagen {
    width: 17rem;
    height: 10rem;
    background-image: url('./img/screen-big.png');
    background-size: cover;
    margin: 4rem auto;
    border-radius: 3px;
    box-shadow: 0 0 0 .6rem black;
    filter: grayscale(100%);
    //opacity: .2;
    transition: transform .3s, filter .5s;
    //transition: filter 2s;
    
    grid-row: 1 / 4;
    grid-column: 1 / 2;
  }

  &__titulo {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    grid-row: 1 / 2;
    grid-column: 2 / -1;
  }

  &__descripcion {
    font-size: 1.1rem;
    font-weight: 100;
    margin-left: 1rem;
    grid-row: 2 / 3;
    grid-column: 2 / -1;
  }

  &__boton:link, 
  &__boton:visited {
    text-decoration: none;
  }

  &:hover {
    box-shadow: 0 20px 55px rgba(0,0,0, .2), 0 16px 28px rgba(0,0,0, .24);
    transform: translateY(-.3rem);
  }

  &:hover > &__imagen {
    //animation-name: responsive;
    animation: respondToSmall 4s .6s;
    animation-fill-mode: forwards;
    //transform-origin: right;
    //animation-direction: alternate;
    //animation-iteration-count: 2;
    filter: none;
    opacity: 1;
    //transform: scale(1.05);
  }
}