@keyframes respondToSmall {
  0% {
    background-image: url("./img/screen-big.png"); }
  16.11% {
    background-image: url("./img/screen-big.png"), url("./img/screen-med.png"); }
  48.33% {
    transform: scale(0.7);
    background-image: url("./img/screen-med.png"); }
  64.44% {
    transform: scale(0.7);
    background-image: url("./img/screen-med.png"), url("./img/screen-small.png"); }
  80.55% {
    transform: scale(0.5) rotate(90deg); }
  100% {
    background-image: url("./img/screen-small.png");
    transform: scale(0.5) rotate(90deg); } }

@keyframes pokeEvolucion {
  0% {
    background-image: url("./img/bulbasaur-1.png"); }
  16% {
    transform: scale(1.3);
    background-image: url("./img/bulbasaur-1.png"), url("./img/bulbasaur-2.png");
    background-size: contain, 0px; }
  35% {
    transform: scale(1.3);
    background-image: url("./img/bulbasaur-2.png"); }
  65% {
    transform: scale(1.3);
    background-image: url("./img/bulbasaur-2.png"), url("./img/bulbasaur-3.png");
    background-size: contain, 0px; }
  80% {
    transform: scale(1.5);
    background-image: url("./img/bulbasaur-3.png"); }
  100% {
    transform: scale(1.5);
    background-image: url("./img/bulbasaur-3.png"); } }

@keyframes rock {
  0% {
    background-image: url("./img/piedra.png"); }
  10% {
    background-image: url("./img/piedra.png");
    transform: translateY(1rem); }
  20% {
    background-image: url("./img/piedra.png");
    transform: translateY(-1rem); }
  30% {
    background-image: url("./img/piedra.png");
    transform: translateY(1rem); }
  40% {
    background-image: url("./img/piedra.png");
    transform: translateY(-1rem); }
  50% {
    background-image: url("./img/piedra.png");
    transform: translateY(1rem); }
  60% {
    background-image: url("./img/piedra.png");
    transform: translateY(-1rem); }
  70% {
    background-image: url("./img/piedra.png");
    transform: translateY(1rem); }
  80% {
    background-image: url("./img/piedra.png"), url("./img/tijera.png");
    background-size: contain, 0px;
    transform: translateY(-1rem); }
  90% {
    background-image: url("./img/tijera.png");
    transform: translateY(1rem); }
  100% {
    background-image: url("./img/tijera.png");
    transform: translateY(1rem) translateX(1.5rem) scale(1.2); } }

@keyframes calendarioCheck {
  0% {
    opacity: 0; }
  10% {
    transform: scale(2);
    opacity: 1; }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes calendarioX {
  0% {
    opacity: 0; }
  10% {
    transform: scale(2);
    opacity: 1; }
  100% {
    opacity: 1;
    transform: scale(1); } }

/*
0-600px:    phone
750-850px:  tab-port
850-1000px: tab-land
1000-1250:  desktop-small
1800 +:     desktop-big
*/
.amarillo {
  background-color: #fcba03; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif; }

body::-webkit-scrollbar {
  width: .5rem;
  /* width of the entire scrollbar */ }

body::-webkit-scrollbar-track {
  background: white;
  /* color of the tracking area */ }

body::-webkit-scrollbar-thumb {
  background-color: black;
  /* color of the scroll thumb */
  border-radius: 3px;
  /* roundness of the scroll thumb */
  border: 1px doted black;
  /* creates padding around scroll thumb */ }

.container {
  margin: 3rem 3rem; }
  @media (max-width: 53.12em) {
    .container {
      margin: 2rem 1rem; } }

.encabezado {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  padding-left: 1rem;
  position: relative; }
  .encabezado__nombre {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: .2rem; }
  .encabezado__developer {
    font-size: 1.3rem;
    letter-spacing: .1rem;
    font-weight: 100;
    margin-bottom: 2rem; }
    @media (max-width: 62.5em) {
      .encabezado__developer {
        margin-bottom: 0; } }
  .encabezado__fijo {
    position: fixed;
    top: 3rem;
    right: 20rem; }
    @media (max-width: 78.12em) {
      .encabezado__fijo {
        right: 6rem; } }
    @media (max-width: 62.5em) {
      .encabezado__fijo {
        position: inherit;
        margin-left: 6rem; } }
  .encabezado__mail {
    font-size: 1.1rem; }
  .encabezado__git:link, .encabezado__git:visited {
    text-decoration: none;
    color: #220200; }
  .encabezado__git {
    font-size: 1.1rem;
    display: inline-block; }
    .encabezado__git--logo {
      width: .8rem; }
    .encabezado__git:hover > .encabezado__git--logo {
      transform: scale(1.15); }
  .encabezado__mas {
    display: inline-block;
    text-shadow: 0.05rem 0.05rem rgba(0, 0, 0, 0.3);
    height: .8rem;
    width: 1rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 900; }
  .encabezado__mas:link, .encabezado__mas:visited {
    color: #fcba03; }
    .encabezado__mas:link:hover, .encabezado__mas:visited:hover {
      transform: scale(1.1) translateY(-0.05rem);
      text-shadow: 0.07rem 0.07rem 0.05rem rgba(0, 0, 0, 0.2); }
    .encabezado__mas:link:active, .encabezado__mas:visited:active {
      transform: scale(1.05) translateY(-0.02rem);
      text-shadow: 0.06rem 0.06rem rgba(0, 0, 0, 0.3); }

.popup {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all .5s; }
  .popup:target {
    opacity: 1;
    visibility: visible;
    transform: scale(1); }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__content {
    font-size: 1.1rem;
    width: 60%;
    padding: 2rem 2rem 3rem 3.5rem;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .3s; }
  .popup__close {
    font-size: 1.4rem;
    font-weight: 900;
    transition: all .2s; }
    .popup__close:link, .popup__close:visited {
      color: #fcba03;
      display: inline-block;
      text-decoration: none;
      position: absolute;
      top: 1rem;
      right: 1.5rem; }
    .popup__close:hover {
      transform: scale(1.1) translateY(-0.05rem);
      text-shadow: 0.04rem 0.04rem rgba(0, 0, 0, 0.3); }
    .popup__close:active {
      transform: scale(1.05) translateY(-0.02rem);
      text-shadow: 0.03rem 0.03rem rgba(0, 0, 0, 0.3); }
  .popup__titulo {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400; }
  .popup__descripcion {
    margin-top: 2rem;
    line-height: 1.5rem; }
    .popup__descripcion--destacar {
      font-weight: 600; }

.container > .proyectos {
  margin-top: 3.5rem; }
  @media (max-width: 46.87em) {
    .container > .proyectos {
      margin-top: 5rem; } }

.container > .proyectos ~ .proyectos {
  margin: 0 0 -2rem 1rem; }
  @media (max-width: 46.87em) {
    .container > .proyectos ~ .proyectos {
      margin-top: 3rem; } }

.proyectos {
  display: grid;
  width: 60%;
  height: 15rem;
  margin: 0 0 -2rem 1rem;
  border-radius: 6px;
  color: #220200;
  grid-template-rows: 1fr 2fr 1fr 1fr;
  grid-template-columns: repeat(5, 1fr);
  transform: scale(0.75);
  transition: all .2s; }
  @media (max-width: 78.12em) {
    .proyectos {
      width: 95%; } }
  @media (max-width: 46.87em) {
    .proyectos {
      grid-template-rows: repeat(4, minmax(0, auto));
      grid-template-columns: 1fr;
      transform: scale(1);
      height: 22rem;
      text-align: center;
      margin-bottom: 5rem; } }
  .proyectos:first-of-type {
    margin-top: 7rem; }
  .proyectos__imagen {
    background-size: cover;
    background-position: top;
    margin: auto;
    width: 17rem;
    height: 10rem;
    border-radius: 3px;
    opacity: .85;
    filter: grayscale(100%);
    transition: transform .3s, filter .5s, opacity .5s;
    grid-row: 1 / -1;
    grid-column: 1 / 3; }
    @media (max-width: 46.87em) {
      .proyectos__imagen {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        filter: none; } }
  .proyectos__imagen--calendario {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr); }
    .proyectos__imagen--calendario-celda {
      border: 1px solid #d9d2d2;
      width: 80%;
      height: 80%; }
    .proyectos__imagen--calendario-celda-0 {
      margin: auto;
      border-top: none;
      border-right: none;
      border-left: none;
      grid-column: 1 / -1; }
    .proyectos__imagen--calendario-celda-16 {
      grid-row: 4 / 5;
      grid-column: 2 / 3; }
    .proyectos__imagen--calendario-celda-30 {
      grid-row: 6 / 7;
      grid-column: 2 / 3; }
    .proyectos__imagen--calendario-celda-26 {
      grid-row: 5 / 6;
      grid-column: 5 / 6; }
    .proyectos__imagen--calendario-13, .proyectos__imagen--calendario-16, .proyectos__imagen--calendario-26, .proyectos__imagen--calendario-30 {
      display: inline-block;
      opacity: 0;
      width: 100%;
      height: 100%; }
  .proyectos:hover > .proyectos__imagen {
    filter: none; }
  .proyectos:hover > .proyectos__imagen > .proyectos__imagen--calendario-celda-16 .proyectos__imagen--calendario-16 {
    width: 80%;
    animation: calendarioCheck 1s .5s;
    animation-fill-mode: forwards; }
  .proyectos:hover > .proyectos__imagen > .proyectos__imagen--calendario-celda-30 > .proyectos__imagen--calendario-30 {
    animation: calendarioX 1s 1s;
    animation-fill-mode: forwards; }
  .proyectos:hover > .proyectos__imagen > .proyectos__imagen--calendario-celda-26 > .proyectos__imagen--calendario-26 {
    width: 80%;
    animation: calendarioCheck 1s 1.5s;
    animation-fill-mode: forwards; }
  .proyectos__imagen--peliculas {
    background-image: url("./img/screen-big.png");
    box-shadow: 0 0 0 .6rem black;
    opacity: .85; }
  .proyectos:hover > .proyectos__imagen--peliculas {
    animation: respondToSmall 4s .5s;
    animation-fill-mode: forwards;
    filter: none;
    opacity: 1; }
  .proyectos__imagen--pokemon {
    background-image: url("./img/bulbasaur-1.png");
    background-size: contain;
    background-repeat: no-repeat; }
  .proyectos:hover > .proyectos__imagen--pokemon {
    animation: pokeEvolucion 4s .6s;
    animation-fill-mode: forwards;
    filter: none;
    opacity: 1; }
  .proyectos__imagen--rock {
    background-image: url("./img/piedra.png");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    margin-top: 1rem; }
  .proyectos:hover > .proyectos__imagen--rock {
    animation: rock 1.2s .6s;
    animation-fill-mode: forwards;
    filter: none;
    opacity: 1; }
  .proyectos__imagen--sketch-panel {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr); }
    .proyectos__imagen--sketch-panel-celda {
      border: 1px solid #d9d2d2;
      width: 100%; }
  .proyectos:hover > .proyectos__imagen--sketch-panel {
    filter: none; }
  .proyectos__titulo {
    font-family: 'Roboto Mono', monospace;
    color: #220200;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: left;
    margin: 1.7rem 0 0 1rem;
    grid-row: 1 / 2;
    grid-column: 3 / -1; }
    @media (max-width: 46.87em) {
      .proyectos__titulo {
        text-align: center;
        grid-row: 2 / 3;
        grid-column: 1 / 2; } }
  .proyectos__descripcion {
    font-size: 1.1rem;
    font-weight: 100;
    line-height: 1.8rem;
    margin: 1rem 1rem 0 1rem;
    grid-row: 2 / 3;
    grid-column: 3 / -1; }
    @media (max-width: 46.87em) {
      .proyectos__descripcion {
        grid-row: 3 / 4;
        grid-column: 1 / 2; } }
  .proyectos__botones {
    font-size: 1rem;
    text-align: left;
    display: inline-block;
    text-decoration: none;
    line-height: 2rem;
    margin: 0 0 0 .5rem;
    grid-row: 3 / -1;
    grid-column: 3 / -1; }
    @media (max-width: 46.87em) {
      .proyectos__botones {
        text-align: center;
        grid-row: 4 / 5;
        grid-column: 1 / 2; } }
  .proyectos__botones:link, .proyectos__botones:visited {
    color: #220200; }
    .proyectos__botones:link:hover, .proyectos__botones:visited:hover {
      border-bottom: 2px solid #fcba03; }
    .proyectos__botones:link--live, .proyectos__botones:visited--live {
      font-size: 2rem;
      margin-top: 2rem; }
    .proyectos__botones:link--git, .proyectos__botones:visited--git {
      text-align: left;
      margin-top: 2rem;
      grid-row: 3 / 4;
      grid-column: 2 / -1; }
  .proyectos__botones--git-logo {
    width: .8rem; }
  .proyectos:hover {
    box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.2), 0 0.8rem 1.5rem rgba(0, 0, 0, 0.24);
    transform: translateY(-0.3rem); }
